<a href="https://colab.research.google.com/github/sskboonmee/data_viz_2022/blob/main/Project_Dataviz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Project ทำ Dashboard ของ Data Covid (ตั้งแต่วันที่ 12/01/2020 - 18/03/2022) เล่ามุมมองที่เราเลือกเอง + ใช้ข้อมูลภูมิภาค + ข้อมูลอื่นที่เลือกเอง ซึ่งข้อมูลที่เลือกเองคือ  ข้อมูลสถิติการรับรองและสถานะการรับรองของสถานพยาบาลตามมาตรฐาน HA ขั้น 1-3 และ Advanced-HA

In [1]:
import pandas as pd #import panda เพื่อจัดการตารางเล็กน้อย

In [2]:
from google.colab import drive
drive.mount('/content/drive')  #เป็นการนำข้อมูลเพิ่มเข้าไปที่colab

Mounted at /content/drive

In [4]:
import os
path = '/content/drive/My Drive/DATA_Final_Project'

In [5]:
data_file_path = os.path.join(path,'DATACOVID_1.csv')    #ชี้ที่อยู่ในไฟล์
data_1 = pd.read_csv(data_file_path)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

#Data Covid วันที่ 12/01/2020 - 12/08/2021

In [6]:
data_1

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,12/1/2020,NaN,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
1,2,17/1/2020,NaN,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
2,3,22/1/2020,NaN,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,22/1/2020,NaN,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
4,5,24/1/2020,NaN,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
...,...,...,...,...,...,...,...,...,...,...,...
839766,839767,12/8/2021,11/8/2021,ชาย,52.0,ปี,NaN,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839767,839768,12/8/2021,11/8/2021,ชาย,34.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839768,839769,12/8/2021,11/8/2021,ชาย,31.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839769,839770,12/8/2021,11/8/2021,ชาย,83.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839770,839771,12/8/2021,11/8/2021,ชาย,47.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN

In [7]:
data_file_path = os.path.join(path,'DATACOVID_2.csv')    
data_2 = pd.read_csv(data_file_path)

#Data Covid วันที่ 12/08/2021 - 25/10/2021

In [8]:
data_2

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,816990,12/8/2021,11/8/2021,ชาย,7.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
1,816991,12/8/2021,11/8/2021,ชาย,1.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
2,816992,12/8/2021,11/8/2021,ชาย,35.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
3,816993,12/8/2021,11/8/2021,หญิง,33.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
4,816994,12/8/2021,11/8/2021,หญิง,14.0,ปี,Thailand,เชียงราย,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1042163,1859153,25/10/2021,24/10/2021,ชาย,45.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042164,1859154,25/10/2021,24/10/2021,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042165,1859155,25/10/2021,24/10/2021,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042166,1859156,25/10/2021,24/10/2021,ชาย,24.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042167,1859157,25/10/2021,24/10/2021,ชาย,25.0,ปี,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN

#Data Covid วันที่ 26/10/2021 - 27/02/2022

In [28]:
data_file_path = os.path.join(path,'DATACOVID_3.csv')    
data_3 = pd.read_csv(data_file_path)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [29]:
data_3

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1859158,26/10/2021,25/10/2021,ชาย,20.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,NaN
1,1859159,26/10/2021,25/10/2021,หญิง,42.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,NaN
2,1859160,26/10/2021,25/10/2021,หญิง,33.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,NaN
3,1859161,26/10/2021,25/10/2021,หญิง,52.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,NaN
4,1859162,26/10/2021,25/10/2021,หญิง,84.0,ปี,Thailand,ลำปาง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง,เมืองลำปาง,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1010454,2869612,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010455,2869613,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010456,2869614,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010457,2869615,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010458,2869616,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN

In [30]:
data_3.head()

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1859158,26/10/2021,25/10/2021,ชาย,20.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,NaN
1,1859159,26/10/2021,25/10/2021,หญิง,42.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,NaN
2,1859160,26/10/2021,25/10/2021,หญิง,33.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,NaN
3,1859161,26/10/2021,25/10/2021,หญิง,52.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,NaN
4,1859162,26/10/2021,25/10/2021,หญิง,84.0,ปี,Thailand,ลำปาง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง,เมืองลำปาง,NaN

ลบคอลัมน์ Unnamed: 11

In [31]:
data_3n = data_3.drop('Unnamed: 11', axis=1) #axis=1 คือ คอลัมน์

In [32]:
data_3n

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1859158,26/10/2021,25/10/2021,ชาย,20.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง
1,1859159,26/10/2021,25/10/2021,หญิง,42.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง
2,1859160,26/10/2021,25/10/2021,หญิง,33.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร
3,1859161,26/10/2021,25/10/2021,หญิง,52.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร
4,1859162,26/10/2021,25/10/2021,หญิง,84.0,ปี,Thailand,ลำปาง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง,เมืองลำปาง
...,...,...,...,...,...,...,...,...,...,...,...
1010454,2869612,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010455,2869613,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010456,2869614,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010457,2869615,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010458,2869616,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN

#Data Covid วันที่ 28/2/2022 - 15/3/2022

In [11]:
data_file_path = os.path.join(path,'DATACOVID_4.csv')    
data_4 = pd.read_csv(data_file_path)

In [12]:
data_4

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,2869617,28/2/2022,27/2/2022,ชาย,41.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
1,2869618,28/2/2022,27/2/2022,หญิง,45.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
2,2869619,28/2/2022,27/2/2022,หญิง,40.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
3,2869620,28/2/2022,27/2/2022,ชาย,44.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
4,2869621,28/2/2022,27/2/2022,ชาย,11.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
...,...,...,...,...,...,...,...,...,...,...,...
357076,3226693,15/3/2022,14/3/2022,ชาย,NaN,NaN,NaN,ปราจีนบุรี,ทัณฑสถาน/เรือนจำ,NaN,NaN
357077,3226694,15/3/2022,14/3/2022,ชาย,NaN,NaN,NaN,ปราจีนบุรี,ทัณฑสถาน/เรือนจำ,NaN,NaN
357078,3226695,15/3/2022,14/3/2022,ชาย,NaN,NaN,NaN,นครราชสีมา,ทัณฑสถาน/เรือนจำ,NaN,NaN
357079,3226696,15/3/2022,14/3/2022,ชาย,NaN,NaN,NaN,นครราชสีมา,ทัณฑสถาน/เรือนจำ,NaN,NaN
357080,3226697,15/3/2022,14/3/2022,หญิง,NaN,NaN,NaN,ขอนแก่น,ทัณฑสถาน/เรือนจำ,NaN,NaN

#ข้อมูลสถิติการรับรองและสถานะการรับรองของสถานพยาบาลตามมาตรฐาน HA ขั้น 1-3 และ Advanced-HA

In [13]:
data_file_path = os.path.join(path,'ข้อมูลสถิติการรับรองและสถานะการรับรองของสถานพยาบาลตามมาตรฐาน HA ขั้น 1-3 และ Advanced-HA.csv')    
data_5 = pd.read_csv(data_file_path)

In [14]:
data_5

,สถานพยาบาลที่ได้รับการรับรองกระบวนการคุณภาพสถานพยาบาล (HA) และขั้นก้าวหน้า (A-HA) (ข้อมูล ณ 31 สิงหาคม 2564),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,No.,เขต,จังหวัด,โรงพยาบาล,H Code,สังกัด,ชนิดรพ.,ขั้นปัจจุบัน,วันรับรอง,วันหมดอายุ
1,1,1,เชียงราย,ทั่วไปขนาดกลางกรุงเทพเชียงราย,41574,เอกชน,เอกชน,0,NaN,NaN
2,2,1,เชียงราย,แม่ฟ้าหลวง,11200,รัฐในสังกัดสป.สธ.,รพช.,r1,22/10/2018,21/10/2021
3,3,1,เชียงราย,เทิง,11189,รัฐในสังกัดสป.สธ.,รพช.,r1,11/2/2020,10/2/2023
4,4,1,เชียงราย,ดอยหลวง,28823,รัฐในสังกัดสป.สธ.,รพช.,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1474,1474,13,กรุงเทพมหานคร,มิชชั่นโรงพยาบาลทั่วไปขนาดใหญ่,11543,เอกชน,สมาคมโรงพยาบาลเอกชน,r4e,4/3/2020,3/3/2021
1475,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1476,หมายเหตุ,A-HA = โรงพยาบาลที่ได้รับการรับรองกระบวนการค...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1477,สถานะขั้นปัจจุบันที่มีตัวอักษร e (expired) =...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1478,สถานะขั้นปัจจุบัน r (Re-Accreditation ) = โ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
data_5.head()

,สถานพยาบาลที่ได้รับการรับรองกระบวนการคุณภาพสถานพยาบาล (HA) และขั้นก้าวหน้า (A-HA) (ข้อมูล ณ 31 สิงหาคม 2564),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,No.,เขต,จังหวัด,โรงพยาบาล,H Code,สังกัด,ชนิดรพ.,ขั้นปัจจุบัน,วันรับรอง,วันหมดอายุ
1,1,1,เชียงราย,ทั่วไปขนาดกลางกรุงเทพเชียงราย,41574,เอกชน,เอกชน,0,NaN,NaN
2,2,1,เชียงราย,แม่ฟ้าหลวง,11200,รัฐในสังกัดสป.สธ.,รพช.,r1,22/10/2018,21/10/2021
3,3,1,เชียงราย,เทิง,11189,รัฐในสังกัดสป.สธ.,รพช.,r1,11/2/2020,10/2/2023
4,4,1,เชียงราย,ดอยหลวง,28823,รัฐในสังกัดสป.สธ.,รพช.,0,NaN,NaN

#รวมData Covid (ตั้งแต่วันที่ 12/01/2020 - 18/03/2022)

In [34]:
data_add = pd.concat([data_1,data_2,data_3n,data_4]) 
data_add

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,12/1/2020,NaN,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
1,2,17/1/2020,NaN,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
2,3,22/1/2020,NaN,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,22/1/2020,NaN,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
4,5,24/1/2020,NaN,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
...,...,...,...,...,...,...,...,...,...,...,...
357076,3226693,15/3/2022,14/3/2022,ชาย,NaN,NaN,NaN,ปราจีนบุรี,ทัณฑสถาน/เรือนจำ,NaN,NaN
357077,3226694,15/3/2022,14/3/2022,ชาย,NaN,NaN,NaN,ปราจีนบุรี,ทัณฑสถาน/เรือนจำ,NaN,NaN
357078,3226695,15/3/2022,14/3/2022,ชาย,NaN,NaN,NaN,นครราชสีมา,ทัณฑสถาน/เรือนจำ,NaN,NaN
357079,3226696,15/3/2022,14/3/2022,ชาย,NaN,NaN,NaN,นครราชสีมา,ทัณฑสถาน/เรือนจำ,NaN,NaN
357080,3226697,15/3/2022,14/3/2022,หญิง,NaN,NaN,NaN,ขอนแก่น,ทัณฑสถาน/เรือนจำ,NaN,NaN

In [38]:
data_add.isnull().any() #False = ไม่มี Missing True = มี Missing

No.                      False
announce_date            False
Notified date             True
sex                       True
age                       True
Unit                      True
nationality               True
province_of_isolation     True
risk                      True
province_of_onset         True
district_of_onset         True
dtype: bool

#ข้อมูลภูมิภาค