<a href="https://colab.research.google.com/github/sskboonmee/data_viz_2022/blob/main/Project_Dataviz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Project ทำ Dashboard ของ Data Covid (ตั้งแต่วันที่ 12/01/2020 - 18/03/2022) เล่ามุมมองที่เราเลือกเอง + ใช้ข้อมูลภูมิภาค + ข้อมูลอื่นที่เลือกเอง ซึ่งข้อมูลที่เลือกเองคือ  ข้อมูลสถิติการรับรองและสถานะการรับรองของสถานพยาบาลตามมาตรฐาน HA ขั้น 1-3 และ Advanced-HA

In [59]:
import pandas as pd #import panda เพื่อจัดการตารางเล็กน้อย

In [60]:
from google.colab import drive
drive.mount('/content/drive')  #เป็นการนำข้อมูลเพิ่มเข้าไปที่colab

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [61]:
import os
path = '/content/drive/My Drive/DATA_Final_Project'

In [62]:
data_file_path = os.path.join(path,'DATACOVID_1.csv')    #ชี้ที่อยู่ในไฟล์
data_1 = pd.read_csv(data_file_path)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

#Data Covid วันที่ 12/01/2020 - 12/08/2021

In [63]:
data_1

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,12/1/2020,NaN,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
1,2,17/1/2020,NaN,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
2,3,22/1/2020,NaN,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,22/1/2020,NaN,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
4,5,24/1/2020,NaN,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
...,...,...,...,...,...,...,...,...,...,...,...
839766,839767,12/8/2021,11/8/2021,ชาย,52.0,ปี,NaN,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839767,839768,12/8/2021,11/8/2021,ชาย,34.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839768,839769,12/8/2021,11/8/2021,ชาย,31.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839769,839770,12/8/2021,11/8/2021,ชาย,83.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839770,839771,12/8/2021,11/8/2021,ชาย,47.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN

In [64]:
data_1.isnull().any()

No.                      False
announce_date            False
Notified date             True
sex                       True
age                       True
Unit                      True
nationality               True
province_of_isolation     True
risk                      True
province_of_onset         True
district_of_onset         True
dtype: bool

In [65]:
data_1_drop = data_1.dropna()  #จัดการ missing 
data_1_drop

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
47,48,6/3/2020,4/3/2020,ชาย,43.0,ปี,United Kingdom,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,คลองตัน
124,125,6/3/2021,5/3/2021,หญิง,55.0,ปี,Thailand,ปทุมธานี,Cluster ตลาดพรพัฒน์,ปทุมธานี,ธัญบุรี
161,162,17/3/2020,21/3/2020,ชาย,14.0,ปี,Thailand,สุราษฎร์ธานี,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,สุราษฎร์ธานี,เมือง
181,182,18/3/2020,15/3/2020,ชาย,33.0,ปี,Thailand,ขอนแก่น,สนามมวย,ขอนแก่น,เมือง
186,187,18/3/2020,16/3/2020,ชาย,36.0,ปี,Thailand,ร้อยเอ็ด,สนามมวย,ร้อยเอ็ด,เชียงขวัญ
...,...,...,...,...,...,...,...,...,...,...,...
839391,839392,12/8/2021,11/8/2021,หญิง,83.0,ปี,Thailand,กรุงเทพมหานคร,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,กรุงเทพมหานคร,วัฒนา
839392,839393,12/8/2021,11/8/2021,ชาย,66.0,ปี,Thailand,กรุงเทพมหานคร,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,กรุงเทพมหานคร,บางขุนเทียน
839393,839394,12/8/2021,11/8/2021,หญิง,43.0,ปี,Thailand,กรุงเทพมหานคร,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,กรุงเทพมหานคร,ประเวศ
839394,839395,12/8/2021,11/8/2021,หญิง,74.0,ปี,Thailand,กรุงเทพมหานคร,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,กรุงเทพมหานคร,ธนบุรี
839395,839396,12/8/2021,11/8/2021,ชาย,29.0,ปี,Thailand,กรุงเทพมหานคร,อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...,กรุงเทพมหานคร,ประเวศ

In [66]:
data_1_drop.isnull().any()

No.                      False
announce_date            False
Notified date            False
sex                      False
age                      False
Unit                     False
nationality              False
province_of_isolation    False
risk                     False
province_of_onset        False
district_of_onset        False
dtype: bool

#Data Covid วันที่ 12/08/2021 - 25/10/2021

In [67]:
data_file_path = os.path.join(path,'DATACOVID_2.csv')    
data_2 = pd.read_csv(data_file_path)

In [68]:
data_2

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,816990,12/8/2021,11/8/2021,ชาย,7.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
1,816991,12/8/2021,11/8/2021,ชาย,1.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
2,816992,12/8/2021,11/8/2021,ชาย,35.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
3,816993,12/8/2021,11/8/2021,หญิง,33.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
4,816994,12/8/2021,11/8/2021,หญิง,14.0,ปี,Thailand,เชียงราย,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1042163,1859153,25/10/2021,24/10/2021,ชาย,45.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042164,1859154,25/10/2021,24/10/2021,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042165,1859155,25/10/2021,24/10/2021,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042166,1859156,25/10/2021,24/10/2021,ชาย,24.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042167,1859157,25/10/2021,24/10/2021,ชาย,25.0,ปี,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN

In [69]:
data_2.isnull().any()

No.                      False
announce_date            False
Notified date            False
sex                       True
age                       True
Unit                      True
nationality               True
province_of_isolation    False
risk                     False
province_of_onset         True
district_of_onset         True
dtype: bool

In [70]:
data_2_drop = data_2.dropna() #จัดการ missing
data_2_drop

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
249,817239,12/8/2021,11/8/2021,ชาย,48.0,ปี,Thailand,เพชรบูรณ์,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เพชรบูรณ์,เมืองเพชรบูรณ์
250,817240,12/8/2021,11/8/2021,หญิง,19.0,ปี,Thailand,เพชรบูรณ์,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เพชรบูรณ์,เมืองเพชรบูรณ์
251,817241,12/8/2021,11/8/2021,หญิง,37.0,ปี,Thailand,เพชรบูรณ์,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เพชรบูรณ์,เมืองเพชรบูรณ์
252,817242,12/8/2021,11/8/2021,ชาย,46.0,ปี,Thailand,เพชรบูรณ์,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เพชรบูรณ์,เมืองเพชรบูรณ์
253,817243,12/8/2021,11/8/2021,ชาย,60.0,ปี,Thailand,เพชรบูรณ์,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เพชรบูรณ์,เมืองเพชรบูรณ์
...,...,...,...,...,...,...,...,...,...,...,...
1041962,1858952,25/10/2021,24/10/2021,ชาย,67.0,ปี,Thailand,กรุงเทพมหานคร,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,กรุงเทพมหานคร,บางพลัด
1041963,1858953,25/10/2021,24/10/2021,หญิง,39.0,ปี,Thailand,กรุงเทพมหานคร,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,กรุงเทพมหานคร,บางพลัด
1041964,1858954,25/10/2021,24/10/2021,ชาย,80.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,สายไหม
1041965,1858955,25/10/2021,24/10/2021,หญิง,67.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,สายไหม
1041966,1858956,25/10/2021,24/10/2021,หญิง,53.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,สายไหม

In [71]:
data_2_drop.isnull().any()

No.                      False
announce_date            False
Notified date            False
sex                      False
age                      False
Unit                     False
nationality              False
province_of_isolation    False
risk                     False
province_of_onset        False
district_of_onset        False
dtype: bool

#Data Covid วันที่ 26/10/2021 - 27/02/2022

In [72]:
data_file_path = os.path.join(path,'DATACOVID_3.csv')    
data_3 = pd.read_csv(data_file_path)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [73]:
data_3

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1859158,26/10/2021,25/10/2021,ชาย,20.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,NaN
1,1859159,26/10/2021,25/10/2021,หญิง,42.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,NaN
2,1859160,26/10/2021,25/10/2021,หญิง,33.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,NaN
3,1859161,26/10/2021,25/10/2021,หญิง,52.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,NaN
4,1859162,26/10/2021,25/10/2021,หญิง,84.0,ปี,Thailand,ลำปาง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง,เมืองลำปาง,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1010454,2869612,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010455,2869613,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010456,2869614,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010457,2869615,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010458,2869616,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN

In [74]:
data_3.head()

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1859158,26/10/2021,25/10/2021,ชาย,20.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,NaN
1,1859159,26/10/2021,25/10/2021,หญิง,42.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,NaN
2,1859160,26/10/2021,25/10/2021,หญิง,33.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,NaN
3,1859161,26/10/2021,25/10/2021,หญิง,52.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,NaN
4,1859162,26/10/2021,25/10/2021,หญิง,84.0,ปี,Thailand,ลำปาง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง,เมืองลำปาง,NaN

ลบคอลัมน์ Unnamed: 11

In [75]:
data_3n = data_3.drop('Unnamed: 11', axis=1) #axis=1 คือ คอลัมน์

In [76]:
data_3n

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1859158,26/10/2021,25/10/2021,ชาย,20.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง
1,1859159,26/10/2021,25/10/2021,หญิง,42.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง
2,1859160,26/10/2021,25/10/2021,หญิง,33.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร
3,1859161,26/10/2021,25/10/2021,หญิง,52.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร
4,1859162,26/10/2021,25/10/2021,หญิง,84.0,ปี,Thailand,ลำปาง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง,เมืองลำปาง
...,...,...,...,...,...,...,...,...,...,...,...
1010454,2869612,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010455,2869613,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010456,2869614,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010457,2869615,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010458,2869616,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN

In [77]:
data_3n.isnull().any()

No.                      False
announce_date            False
Notified date            False
sex                       True
age                       True
Unit                      True
nationality               True
province_of_isolation     True
risk                      True
province_of_onset         True
district_of_onset         True
dtype: bool

In [78]:
data_3n_drop = data_3n.dropna() #จัดการ missing 
data_3n_drop

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1859158,26/10/2021,25/10/2021,ชาย,20.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง
1,1859159,26/10/2021,25/10/2021,หญิง,42.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง
2,1859160,26/10/2021,25/10/2021,หญิง,33.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร
3,1859161,26/10/2021,25/10/2021,หญิง,52.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร
4,1859162,26/10/2021,25/10/2021,หญิง,84.0,ปี,Thailand,ลำปาง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง,เมืองลำปาง
...,...,...,...,...,...,...,...,...,...,...,...
1010370,2869528,27/2/2022,26/2/2022,หญิง,7.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,บางกอกน้อย
1010371,2869529,27/2/2022,26/2/2022,ชาย,38.0,ปี,French,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,จอมทอง
1010372,2869530,27/2/2022,26/2/2022,หญิง,58.0,ปี,French,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,จอมทอง
1010373,2869531,27/2/2022,26/2/2022,ชาย,66.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ราชเทวี
1010374,2869532,27/2/2022,26/2/2022,ชาย,64.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ราชเทวี

In [79]:
data_3n_drop.isnull().any()

No.                      False
announce_date            False
Notified date            False
sex                      False
age                      False
Unit                     False
nationality              False
province_of_isolation    False
risk                     False
province_of_onset        False
district_of_onset        False
dtype: bool

#Data Covid วันที่ 28/2/2022 - 15/3/2022

In [80]:
data_file_path = os.path.join(path,'DATACOVID_4.csv')    
data_4 = pd.read_csv(data_file_path)

In [81]:
data_4

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,2869617,28/2/2022,27/2/2022,ชาย,41.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
1,2869618,28/2/2022,27/2/2022,หญิง,45.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
2,2869619,28/2/2022,27/2/2022,หญิง,40.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
3,2869620,28/2/2022,27/2/2022,ชาย,44.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
4,2869621,28/2/2022,27/2/2022,ชาย,11.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
...,...,...,...,...,...,...,...,...,...,...,...
357076,3226693,15/3/2022,14/3/2022,ชาย,NaN,NaN,NaN,ปราจีนบุรี,ทัณฑสถาน/เรือนจำ,NaN,NaN
357077,3226694,15/3/2022,14/3/2022,ชาย,NaN,NaN,NaN,ปราจีนบุรี,ทัณฑสถาน/เรือนจำ,NaN,NaN
357078,3226695,15/3/2022,14/3/2022,ชาย,NaN,NaN,NaN,นครราชสีมา,ทัณฑสถาน/เรือนจำ,NaN,NaN
357079,3226696,15/3/2022,14/3/2022,ชาย,NaN,NaN,NaN,นครราชสีมา,ทัณฑสถาน/เรือนจำ,NaN,NaN
357080,3226697,15/3/2022,14/3/2022,หญิง,NaN,NaN,NaN,ขอนแก่น,ทัณฑสถาน/เรือนจำ,NaN,NaN

In [82]:
data_4.isnull().any()

No.                      False
announce_date            False
Notified date            False
sex                       True
age                       True
Unit                      True
nationality               True
province_of_isolation    False
risk                      True
province_of_onset         True
district_of_onset         True
dtype: bool

In [83]:
data_4_drop = data_4.dropna()
data_4_drop

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,2869617,28/2/2022,27/2/2022,ชาย,41.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
1,2869618,28/2/2022,27/2/2022,หญิง,45.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
2,2869619,28/2/2022,27/2/2022,หญิง,40.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
3,2869620,28/2/2022,27/2/2022,ชาย,44.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
4,2869621,28/2/2022,27/2/2022,ชาย,11.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
...,...,...,...,...,...,...,...,...,...,...,...
357022,3226639,15/3/2022,14/3/2022,หญิง,66.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ห้วยขวาง
357023,3226640,15/3/2022,14/3/2022,หญิง,49.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ห้วยขวาง
357024,3226641,15/3/2022,14/3/2022,หญิง,19.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ราชเทวี
357025,3226642,15/3/2022,14/3/2022,ชาย,66.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ลาดพร้าว
357026,3226643,15/3/2022,14/3/2022,ชาย,46.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ห้วยขวาง

In [84]:
data_4_drop.isnull().any()

No.                      False
announce_date            False
Notified date            False
sex                      False
age                      False
Unit                     False
nationality              False
province_of_isolation    False
risk                     False
province_of_onset        False
district_of_onset        False
dtype: bool

#รวมData Covid (ตั้งแต่วันที่ 12/01/2020 - 18/03/2022)

คำอธิบายตาราง

* No. รหัสผู้ป่วย
* Announce Date วันที่แถลงข่าว
* Notification Date	วันที่กระทรวงได้รับรายงาน
* Sex เพศผู้ป่วย
* Age อายุของผู้ป่วย
* unit ปี 
* Nationality สัญชาติ
* Province of isolation จังหวัดที่รักษาตัว
* risk เสี่ยง
* Province of onset จังหวัดที่เริ่มพบว่าตัวเองมีอาการป่วย
* District of onset อำเภอที่เริ่มพบว่าตัวเองมีอาการป่วย

In [85]:
data_add = pd.concat([data_1_drop,data_2_drop,data_3n_drop,data_4_drop]) 
data_add

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
47,48,6/3/2020,4/3/2020,ชาย,43.0,ปี,United Kingdom,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,คลองตัน
124,125,6/3/2021,5/3/2021,หญิง,55.0,ปี,Thailand,ปทุมธานี,Cluster ตลาดพรพัฒน์,ปทุมธานี,ธัญบุรี
161,162,17/3/2020,21/3/2020,ชาย,14.0,ปี,Thailand,สุราษฎร์ธานี,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,สุราษฎร์ธานี,เมือง
181,182,18/3/2020,15/3/2020,ชาย,33.0,ปี,Thailand,ขอนแก่น,สนามมวย,ขอนแก่น,เมือง
186,187,18/3/2020,16/3/2020,ชาย,36.0,ปี,Thailand,ร้อยเอ็ด,สนามมวย,ร้อยเอ็ด,เชียงขวัญ
...,...,...,...,...,...,...,...,...,...,...,...
357022,3226639,15/3/2022,14/3/2022,หญิง,66.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ห้วยขวาง
357023,3226640,15/3/2022,14/3/2022,หญิง,49.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ห้วยขวาง
357024,3226641,15/3/2022,14/3/2022,หญิง,19.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ราชเทวี
357025,3226642,15/3/2022,14/3/2022,ชาย,66.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ลาดพร้าว
357026,3226643,15/3/2022,14/3/2022,ชาย,46.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ห้วยขวาง

In [86]:
data_add.isnull().any()

No.                      False
announce_date            False
Notified date            False
sex                      False
age                      False
Unit                     False
nationality              False
province_of_isolation    False
risk                     False
province_of_onset        False
district_of_onset        False
dtype: bool

#ข้อมูลสถิติการรับรองและสถานะการรับรองของสถานพยาบาลตามมาตรฐาน HA ขั้น 1-3 และ Advanced-HA

In [87]:
data_file_path = os.path.join(path,'ข้อมูลสถิติการรับรองและสถานะการรับรองของสถานพยาบาลตามมาตรฐาน HA ขั้น 1-3 และ Advanced-HA.csv')    
data_5 = pd.read_csv(data_file_path)

In [88]:
data_5

,สถานพยาบาลที่ได้รับการรับรองกระบวนการคุณภาพสถานพยาบาล (HA) และขั้นก้าวหน้า (A-HA) (ข้อมูล ณ 31 สิงหาคม 2564),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,No.,เขต,จังหวัด,โรงพยาบาล,H Code,สังกัด,ชนิดรพ.,ขั้นปัจจุบัน,วันรับรอง,วันหมดอายุ
1,1,1,เชียงราย,ทั่วไปขนาดกลางกรุงเทพเชียงราย,41574,เอกชน,เอกชน,0,NaN,NaN
2,2,1,เชียงราย,แม่ฟ้าหลวง,11200,รัฐในสังกัดสป.สธ.,รพช.,r1,22/10/2018,21/10/2021
3,3,1,เชียงราย,เทิง,11189,รัฐในสังกัดสป.สธ.,รพช.,r1,11/2/2020,10/2/2023
4,4,1,เชียงราย,ดอยหลวง,28823,รัฐในสังกัดสป.สธ.,รพช.,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1474,1474,13,กรุงเทพมหานคร,มิชชั่นโรงพยาบาลทั่วไปขนาดใหญ่,11543,เอกชน,สมาคมโรงพยาบาลเอกชน,r4e,4/3/2020,3/3/2021
1475,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1476,หมายเหตุ,A-HA = โรงพยาบาลที่ได้รับการรับรองกระบวนการค...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1477,สถานะขั้นปัจจุบันที่มีตัวอักษร e (expired) =...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1478,สถานะขั้นปัจจุบัน r (Re-Accreditation ) = โ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [89]:
data_5.head()

,สถานพยาบาลที่ได้รับการรับรองกระบวนการคุณภาพสถานพยาบาล (HA) และขั้นก้าวหน้า (A-HA) (ข้อมูล ณ 31 สิงหาคม 2564),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,No.,เขต,จังหวัด,โรงพยาบาล,H Code,สังกัด,ชนิดรพ.,ขั้นปัจจุบัน,วันรับรอง,วันหมดอายุ
1,1,1,เชียงราย,ทั่วไปขนาดกลางกรุงเทพเชียงราย,41574,เอกชน,เอกชน,0,NaN,NaN
2,2,1,เชียงราย,แม่ฟ้าหลวง,11200,รัฐในสังกัดสป.สธ.,รพช.,r1,22/10/2018,21/10/2021
3,3,1,เชียงราย,เทิง,11189,รัฐในสังกัดสป.สธ.,รพช.,r1,11/2/2020,10/2/2023
4,4,1,เชียงราย,ดอยหลวง,28823,รัฐในสังกัดสป.สธ.,รพช.,0,NaN,NaN

แก้ไขหัวตารางเนื่องจากชื่อผิด

In [90]:
data_5re = data_5.rename(columns={'สถานพยาบาลที่ได้รับการรับรองกระบวนการคุณภาพสถานพยาบาล (HA) และขั้นก้าวหน้า (A-HA) (ข้อมูล ณ 31 สิงหาคม 2564)': 'No.', 'Unnamed: 1': 'เขต', 'Unnamed: 2': 'จังหวัด' , 'Unnamed: 3': 'โรงพยาบาล', 'Unnamed: 4': 'H Code', 'Unnamed: 5': 'สังกัด', 'Unnamed: 6': 'ชนิดรพ.', 'Unnamed: 7': 'ชั้นปัจจุบัน', 'Unnamed: 8': 'วันรับรอง', 'Unnamed: 9': 'วันหมดอายุ'})

In [91]:
data_5re

,No.,เขต,จังหวัด,โรงพยาบาล,H Code,สังกัด,ชนิดรพ.,ชั้นปัจจุบัน,วันรับรอง,วันหมดอายุ
0,No.,เขต,จังหวัด,โรงพยาบาล,H Code,สังกัด,ชนิดรพ.,ขั้นปัจจุบัน,วันรับรอง,วันหมดอายุ
1,1,1,เชียงราย,ทั่วไปขนาดกลางกรุงเทพเชียงราย,41574,เอกชน,เอกชน,0,NaN,NaN
2,2,1,เชียงราย,แม่ฟ้าหลวง,11200,รัฐในสังกัดสป.สธ.,รพช.,r1,22/10/2018,21/10/2021
3,3,1,เชียงราย,เทิง,11189,รัฐในสังกัดสป.สธ.,รพช.,r1,11/2/2020,10/2/2023
4,4,1,เชียงราย,ดอยหลวง,28823,รัฐในสังกัดสป.สธ.,รพช.,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1474,1474,13,กรุงเทพมหานคร,มิชชั่นโรงพยาบาลทั่วไปขนาดใหญ่,11543,เอกชน,สมาคมโรงพยาบาลเอกชน,r4e,4/3/2020,3/3/2021
1475,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1476,หมายเหตุ,A-HA = โรงพยาบาลที่ได้รับการรับรองกระบวนการค...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1477,สถานะขั้นปัจจุบันที่มีตัวอักษร e (expired) =...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1478,สถานะขั้นปัจจุบัน r (Re-Accreditation ) = โ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [92]:
data_5re = data_5re.drop(labels=0, axis=0) #ตัดแถวที่ข้อมูลเป็นชื่อหัวคอลัมน์ออก axis=0 -> row

In [93]:
data_5re

,No.,เขต,จังหวัด,โรงพยาบาล,H Code,สังกัด,ชนิดรพ.,ชั้นปัจจุบัน,วันรับรอง,วันหมดอายุ
1,1,1,เชียงราย,ทั่วไปขนาดกลางกรุงเทพเชียงราย,41574,เอกชน,เอกชน,0,NaN,NaN
2,2,1,เชียงราย,แม่ฟ้าหลวง,11200,รัฐในสังกัดสป.สธ.,รพช.,r1,22/10/2018,21/10/2021
3,3,1,เชียงราย,เทิง,11189,รัฐในสังกัดสป.สธ.,รพช.,r1,11/2/2020,10/2/2023
4,4,1,เชียงราย,ดอยหลวง,28823,รัฐในสังกัดสป.สธ.,รพช.,0,NaN,NaN
5,5,1,เชียงราย,เชียงแสน,11193,รัฐในสังกัดสป.สธ.,รพช.,r3,3/3/2020,2/3/2023
...,...,...,...,...,...,...,...,...,...,...
1474,1474,13,กรุงเทพมหานคร,มิชชั่นโรงพยาบาลทั่วไปขนาดใหญ่,11543,เอกชน,สมาคมโรงพยาบาลเอกชน,r4e,4/3/2020,3/3/2021
1475,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1476,หมายเหตุ,A-HA = โรงพยาบาลที่ได้รับการรับรองกระบวนการค...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1477,สถานะขั้นปัจจุบันที่มีตัวอักษร e (expired) =...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1478,สถานะขั้นปัจจุบัน r (Re-Accreditation ) = โ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

เชค missing

In [94]:
data_5re.isnull().any() #False = ไม่มี Missing True = มี Missing พบว่า มี missing ทุกคอลัมน์

No.             True
เขต             True
จังหวัด         True
โรงพยาบาล       True
H Code          True
สังกัด          True
ชนิดรพ.         True
ชั้นปัจจุบัน    True
วันรับรอง       True
วันหมดอายุ      True
dtype: bool

In [95]:
data_5re.drop = data_5re.dropna()
data_5re.drop

,No.,เขต,จังหวัด,โรงพยาบาล,H Code,สังกัด,ชนิดรพ.,ชั้นปัจจุบัน,วันรับรอง,วันหมดอายุ
2,2,1,เชียงราย,แม่ฟ้าหลวง,11200,รัฐในสังกัดสป.สธ.,รพช.,r1,22/10/2018,21/10/2021
3,3,1,เชียงราย,เทิง,11189,รัฐในสังกัดสป.สธ.,รพช.,r1,11/2/2020,10/2/2023
5,5,1,เชียงราย,เชียงแสน,11193,รัฐในสังกัดสป.สธ.,รพช.,r3,3/3/2020,2/3/2023
6,6,1,เชียงราย,เกษมราษฎร์ ศรีบุรินทร์,12026,เอกชน,สมาคมโรงพยาบาลเอกชน,r2,12/2/2019,11/2/2022
7,7,1,เชียงราย,แม่จัน,11192,รัฐในสังกัดสป.สธ.,รพช.,r4,19/12/2020,18/12/2021
...,...,...,...,...,...,...,...,...,...,...
1469,1469,13,กรุงเทพมหานคร,สถาบันกัลยาณ์ราชนครินทร์,11597,รัฐในสังกัดสธ.,กรมสุขภาพจิต,r5,20/2/2021,19/2/2024
1470,1470,13,กรุงเทพมหานคร,ทั่วไปขนาดใหญ่วิชัยยุทธ,11714,เอกชน,เอกชน,r1,24/3/2021,23/3/2024
1471,1471,13,กรุงเทพมหานคร,เวชศาสตร์เขตร้อน คณะเวชศาสตร์เขตร้อน มหาวิทยาล...,13757,กระทรวงศึกษาธิการ,กระทรวงศึกษาธิการ,r2,11/6/2019,10/6/2022
1472,1472,13,กรุงเทพมหานคร,กรุงเทพคริสเตียน,11548,เอกชน,สมาคมโรงพยาบาลเอกชน,r2,28/5/2019,27/5/2022
1474,1474,13,กรุงเทพมหานคร,มิชชั่นโรงพยาบาลทั่วไปขนาดใหญ่,11543,เอกชน,สมาคมโรงพยาบาลเอกชน,r4e,4/3/2020,3/3/2021

In [96]:
data_5re.drop.isnull().any()

No.             False
เขต             False
จังหวัด         False
โรงพยาบาล       False
H Code          False
สังกัด          False
ชนิดรพ.         False
ชั้นปัจจุบัน    False
วันรับรอง       False
วันหมดอายุ      False
dtype: bool

#ข้อมูลภูมิภาค

In [97]:
dataregion = [['อำนาจเจริญ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
                ['บึงกาฬ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
                ['บุรีรัมย์','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
                ['ชัยภูมิ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
                ['กาฬสินธุ์','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
                ['ขอนแก่น','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
                ['เลย','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
                ['มหาสารคาม','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
                ['มุกดาหาร','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
                ['นครพนม','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
                ['นครราชสีมา','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
                ['หนองบัวลำภู','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
                ['หนองคาย','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
                ['ร้อยเอ็ด','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
                ['สกลนคร','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
                ['ศรีสะเกษ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
                ['สุรินทร์','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
                ['อุบลราชธานี','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
                ['อุดรธานี','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
                ['ยโสธร','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
                ['เชียงใหม่','เหนือ','เหนือ','เหนือ','เหนือ'],
                ['เชียงราย','เหนือ','เหนือ','เหนือ','เหนือ'],
                ['ลำปาง','เหนือ','เหนือ','เหนือ','เหนือ'],
                ['ลำพูน','เหนือ','เหนือ','เหนือ','เหนือ'],
                ['แม่ฮ่องสอน','เหนือ','เหนือ','เหนือ','เหนือ'],
                ['น่าน','เหนือ','เหนือ','เหนือ','เหนือ'],
                ['พะเยา','เหนือ','เหนือ','เหนือ','เหนือ'],
                ['แพร่','เหนือ','เหนือ','เหนือ','เหนือ'],
                ['อุตรดิตถ์','เหนือ','เหนือ','เหนือ','เหนือ'],
                ['ตาก','ตะวันออก','เหนือ','เหนือ','เหนือ'],
                ['สุโขทัย','กลาง','เหนือ','เหนือ','เหนือ'],
                ['พิษณุโลก','กลาง','เหนือ','เหนือ','เหนือ'],
                ['พิจิตร','กลาง','เหนือ','เหนือ','เหนือ'],
                ['กำแพงเพชร','กลาง','เหนือ','เหนือ','เหนือ'],
                ['เพชรบูรณ์','กลาง','เหนือ','เหนือ','เหนือ'],
                ['นครสวรรค์','กลาง','เหนือ','กลาง','เหนือ'],
                ['อุทัยธานี','กลาง','เหนือ','กลาง','เหนือ'],
                ['อ่างทอง','กลาง','กลาง','กลาง','กลาง'],
                ['ชัยนาท','กลาง','กลาง','กลาง','กลาง'],
                ['พระนครศรีอยุธยา','กลาง','กลาง','กลาง','กลาง'],
                ['กรุงเทพมหานคร','กลาง','กลาง','กลาง','กลาง'],
                ['ลพบุรี','กลาง','กลาง','กลาง','กลาง'],
                ['นครปฐม','กลาง','กลาง','กลาง','กลาง'],
                ['นนทบุรี','กลาง','กลาง','กลาง','กลาง'],
                ['ปทุมธานี','กลาง','กลาง','กลาง','กลาง'],
                ['สมุทรปราการ','กลาง','กลาง','กลาง','กลาง'],
                ['สมุทรสาคร','กลาง','กลาง','กลาง','กลาง'],
                ['สมุทรสงคราม','กลาง','กลาง','กลาง','กลาง'],
                ['สระบุรี','กลาง','กลาง','กลาง','กลาง'],
                ['สิงห์บุรี','กลาง','กลาง','กลาง','กลาง'],
                ['สุพรรณบุรี','กลาง','กลาง','กลาง','กลาง'],
                ['นครนายก','กลาง','กลาง','ตะวันออก','กลาง'],
                ['ฉะเชิงเทรา','ตะวันออก','กลาง','ตะวันออก','ตะวันออก'],
                ['จันทบุรี','ตะวันออก','กลาง','ตะวันออก','ตะวันออก'],
                ['ชลบุรี','ตะวันออก','กลาง','ตะวันออก','ตะวันออก'],
                ['ปราจีนบุรี','ตะวันออก','กลาง','ตะวันออก','ตะวันออก'],
                ['ระยอง','ตะวันออก','กลาง','ตะวันออก','ตะวันออก'],
                ['สระแก้ว','ตะวันออก','กลาง','ตะวันออก','ตะวันออก'],
                ['ตราด','ตะวันออก','กลาง','ตะวันออก','ตะวันออก'],
                ['กาญจนบุรี','ตะวันตก','กลาง','กลาง','กลาง'],
                ['ราชบุรี','ตะวันตก','กลาง','กลาง','กลาง'],
                ['เพชรบุรี','ตะวันตก','กลาง','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','กลาง'],
                ['ประจวบคีรีขันธ์','ตะวันตก','กลาง','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','กลาง'],
                ['ชุมพร','ใต้','ใต้','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้'],
                ['นครศรีธรรมราช','ใต้','ใต้','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้'],
                ['นราธิวาส','ใต้','ใต้','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้'],
                ['ปัตตานี','ใต้','ใต้','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้'],
                ['พัทลุง','ใต้','ใต้','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้'],
                ['สงขลา','ใต้','ใต้','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้'],
                ['สุราษฎร์ธานี','ใต้','ใต้','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้'],
                ['ยะลา','ใต้','ใต้','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้'],
                ['กระบี่','ใต้','ใต้','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้'],
                ['พังงา','ใต้','ใต้','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้'],
                ['ภูเก็ต','ใต้','ใต้','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้'],
                ['ระนอง','ใต้','ใต้','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้'],
                ['สตูล','ใต้','ใต้','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้'],
                ['ตรัง','ใต้','ใต้','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้']]  

header = ['จังหวัด','6 ภูมิภาค (ภูมิศาสตร์)','4 ภูมิภาค (การเมือง)','6 ภูมิภาค (อุตุนิยมวิทยา)','5 ภูมิภาค (การท่องเที่ยว)']  #หัวตาราง

In [98]:
df_dataregion = pd.DataFrame.from_records(dataregion,columns=header) 
df_dataregion

,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาค (การเมือง),6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว)
0,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
1,บึงกาฬ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
2,บุรีรัมย์,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
3,ชัยภูมิ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
4,กาฬสินธุ์,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
...,...,...,...,...,...
72,พังงา,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
73,ภูเก็ต,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
74,ระนอง,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
75,สตูล,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
76,ตรัง,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้

In [99]:
df_dataregion.isnull().any()

จังหวัด                      False
6 ภูมิภาค (ภูมิศาสตร์)       False
4 ภูมิภาค (การเมือง)         False
6 ภูมิภาค (อุตุนิยมวิทยา)    False
5 ภูมิภาค (การท่องเที่ยว)    False
dtype: bool

#รวมตารางข้อมูลทั้งหมด


* Data Covid (ตั้งแต่วันที่ 12/01/2020 - 18/03/2022)  (data_add3)
* ข้อมูลสถิติการรับรองและสถานะการรับรองของสถานพยาบาลตามมาตรฐาน HA ขั้น 1-3 และ Advanced-HA  (data_5re)
* ข้อมูลภูมิภาค (df_dataregion)

รวมตาราง Covid กับ ตาราง ภูมิภาค

In [100]:
data_total1 = data_add.merge(df_dataregion,how='left',left_on='province_of_onset',right_on='จังหวัด') #รวมตาราง data_add3 ข้อมูลโควิด และ df_dataregion 
data_total1

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาค (การเมือง),6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว)
0,48,6/3/2020,4/3/2020,ชาย,43.0,ปี,United Kingdom,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,คลองตัน,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง
1,125,6/3/2021,5/3/2021,หญิง,55.0,ปี,Thailand,ปทุมธานี,Cluster ตลาดพรพัฒน์,ปทุมธานี,ธัญบุรี,ปทุมธานี,กลาง,กลาง,กลาง,กลาง
2,162,17/3/2020,21/3/2020,ชาย,14.0,ปี,Thailand,สุราษฎร์ธานี,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,สุราษฎร์ธานี,เมือง,สุราษฎร์ธานี,ใต้,ใต้,ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย,ใต้
3,182,18/3/2020,15/3/2020,ชาย,33.0,ปี,Thailand,ขอนแก่น,สนามมวย,ขอนแก่น,เมือง,ขอนแก่น,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
4,187,18/3/2020,16/3/2020,ชาย,36.0,ปี,Thailand,ร้อยเอ็ด,สนามมวย,ร้อยเอ็ด,เชียงขวัญ,ร้อยเอ็ด,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2361302,3226639,15/3/2022,14/3/2022,หญิง,66.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ห้วยขวาง,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง
2361303,3226640,15/3/2022,14/3/2022,หญิง,49.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ห้วยขวาง,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง
2361304,3226641,15/3/2022,14/3/2022,หญิง,19.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ราชเทวี,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง
2361305,3226642,15/3/2022,14/3/2022,ชาย,66.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ลาดพร้าว,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง
2361306,3226643,15/3/2022,14/3/2022,ชาย,46.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ห้วยขวาง,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง

In [101]:
data_total1.isnull().any()

No.                          False
announce_date                False
Notified date                False
sex                          False
age                          False
Unit                         False
nationality                  False
province_of_isolation        False
risk                         False
province_of_onset            False
district_of_onset            False
จังหวัด                       True
6 ภูมิภาค (ภูมิศาสตร์)        True
4 ภูมิภาค (การเมือง)          True
6 ภูมิภาค (อุตุนิยมวิทยา)     True
5 ภูมิภาค (การท่องเที่ยว)     True
dtype: bool

In [102]:
data_total1_drop = data_total1.dropna()
data_total1_drop

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาค (การเมือง),6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว)
0,48,6/3/2020,4/3/2020,ชาย,43.0,ปี,United Kingdom,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,คลองตัน,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง
1,125,6/3/2021,5/3/2021,หญิง,55.0,ปี,Thailand,ปทุมธานี,Cluster ตลาดพรพัฒน์,ปทุมธานี,ธัญบุรี,ปทุมธานี,กลาง,กลาง,กลาง,กลาง
2,162,17/3/2020,21/3/2020,ชาย,14.0,ปี,Thailand,สุราษฎร์ธานี,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,สุราษฎร์ธานี,เมือง,สุราษฎร์ธานี,ใต้,ใต้,ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย,ใต้
3,182,18/3/2020,15/3/2020,ชาย,33.0,ปี,Thailand,ขอนแก่น,สนามมวย,ขอนแก่น,เมือง,ขอนแก่น,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
4,187,18/3/2020,16/3/2020,ชาย,36.0,ปี,Thailand,ร้อยเอ็ด,สนามมวย,ร้อยเอ็ด,เชียงขวัญ,ร้อยเอ็ด,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2361302,3226639,15/3/2022,14/3/2022,หญิง,66.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ห้วยขวาง,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง
2361303,3226640,15/3/2022,14/3/2022,หญิง,49.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ห้วยขวาง,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง
2361304,3226641,15/3/2022,14/3/2022,หญิง,19.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ราชเทวี,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง
2361305,3226642,15/3/2022,14/3/2022,ชาย,66.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ลาดพร้าว,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง
2361306,3226643,15/3/2022,14/3/2022,ชาย,46.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ห้วยขวาง,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง

In [103]:
data_total1_drop.isnull().any()

No.                          False
announce_date                False
Notified date                False
sex                          False
age                          False
Unit                         False
nationality                  False
province_of_isolation        False
risk                         False
province_of_onset            False
district_of_onset            False
จังหวัด                      False
6 ภูมิภาค (ภูมิศาสตร์)       False
4 ภูมิภาค (การเมือง)         False
6 ภูมิภาค (อุตุนิยมวิทยา)    False
5 ภูมิภาค (การท่องเที่ยว)    False
dtype: bool

รวม 3 ตาราง ข้อมูล covid,ภูมิภาค และอมูลสถิติการรับรองและสถานะการรับรองของสถานพยาบาลตามมาตรฐาน HA ขั้น 1-3 และ Advanced-HA

In [104]:
data_total2 = data_total1_drop.merge(data_5re.drop,how='left',left_on='announce_date',right_on='วันหมดอายุ') 
data_total2

,No._x,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,...,No._y,เขต,จังหวัด_y,โรงพยาบาล,H Code,สังกัด,ชนิดรพ.,ชั้นปัจจุบัน,วันรับรอง,วันหมดอายุ
0,48,6/3/2020,4/3/2020,ชาย,43.0,ปี,United Kingdom,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,125,6/3/2021,5/3/2021,หญิง,55.0,ปี,Thailand,ปทุมธานี,Cluster ตลาดพรพัฒน์,ปทุมธานี,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,162,17/3/2020,21/3/2020,ชาย,14.0,ปี,Thailand,สุราษฎร์ธานี,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,สุราษฎร์ธานี,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,182,18/3/2020,15/3/2020,ชาย,33.0,ปี,Thailand,ขอนแก่น,สนามมวย,ขอนแก่น,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,187,18/3/2020,16/3/2020,ชาย,36.0,ปี,Thailand,ร้อยเอ็ด,สนามมวย,ร้อยเอ็ด,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5421275,3226639,15/3/2022,14/3/2022,หญิง,66.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5421276,3226640,15/3/2022,14/3/2022,หญิง,49.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5421277,3226641,15/3/2022,14/3/2022,หญิง,19.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5421278,3226642,15/3/2022,14/3/2022,ชาย,66.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5421279,3226643,15/3/2022,14/3/2022,ชาย,46.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [110]:
data_total2.isnull().any()

No._x                        False
announce_date                False
Notified date                False
sex                          False
age                          False
Unit                         False
nationality                  False
province_of_isolation        False
risk                         False
province_of_onset            False
district_of_onset            False
จังหวัด_x                    False
6 ภูมิภาค (ภูมิศาสตร์)       False
4 ภูมิภาค (การเมือง)         False
6 ภูมิภาค (อุตุนิยมวิทยา)    False
5 ภูมิภาค (การท่องเที่ยว)    False
No._y                         True
เขต                           True
จังหวัด_y                     True
โรงพยาบาล                     True
H Code                        True
สังกัด                        True
ชนิดรพ.                       True
ชั้นปัจจุบัน                  True
วันรับรอง                     True
วันหมดอายุ                    True
dtype: bool

In [113]:
data_total2_drop = data_total2.dropna()
data_total2_drop

,No._x,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,...,No._y,เขต,จังหวัด_y,โรงพยาบาล,H Code,สังกัด,ชนิดรพ.,ชั้นปัจจุบัน,วันรับรอง,วันหมดอายุ
1826,3019,14/5/2020,13/5/2020,ชาย,39.0,ปี,Thailand,เชียงใหม่,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,เชียงใหม่,...,341,4,ปทุมธานี,ภัทร-ธนบุรี,14354,เอกชน,สมาคมโรงพยาบาลเอกชน,2e,15/5/2019,14/5/2020
1935,3143,19/6/2020,18/6/2020,ชาย,24.0,ปี,Thailand,กรุงเทพมหานคร,State Quarantine,กรุงเทพมหานคร,...,1203,11,สุราษฎร์ธานี,ท่าโรงช้าง,14138,รัฐในสังกัดสป.สธ.,รพช.,2e,20/6/2019,19/6/2020
1936,3144,19/6/2020,18/6/2020,ชาย,23.0,ปี,Thailand,กรุงเทพมหานคร,State Quarantine,กรุงเทพมหานคร,...,1203,11,สุราษฎร์ธานี,ท่าโรงช้าง,14138,รัฐในสังกัดสป.สธ.,รพช.,2e,20/6/2019,19/6/2020
1937,3145,19/6/2020,18/6/2020,ชาย,27.0,ปี,Thailand,กรุงเทพมหานคร,State Quarantine,กรุงเทพมหานคร,...,1203,11,สุราษฎร์ธานี,ท่าโรงช้าง,14138,รัฐในสังกัดสป.สธ.,รพช.,2e,20/6/2019,19/6/2020
1938,3146,19/6/2020,18/6/2020,ชาย,23.0,ปี,Thailand,กรุงเทพมหานคร,State Quarantine,กรุงเทพมหานคร,...,1203,11,สุราษฎร์ธานี,ท่าโรงช้าง,14138,รัฐในสังกัดสป.สธ.,รพช.,2e,20/6/2019,19/6/2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5234652,2981911,4/3/2022,3/3/2022,ชาย,67.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,...,79,1,เชียงใหม่,ตาเซนต์ปีเตอร์,11979,เอกชน,เอกชน,2,5/3/2021,4/3/2022
5234653,2981911,4/3/2022,3/3/2022,ชาย,67.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,...,332,4,ปทุมธานี,กรุงสยามเซนต์คาร์ลอส,14683,เอกชน,สมาคมโรงพยาบาลเอกชน,2,5/3/2021,4/3/2022
5234654,2981911,4/3/2022,3/3/2022,ชาย,67.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,...,777,8,นครพนม,นาหว้า,11111,รัฐในสังกัดสป.สธ.,รพช.,2,5/3/2021,4/3/2022
5234655,2981911,4/3/2022,3/3/2022,ชาย,67.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,...,846,8,หนองคาย,เฝ้าไร่,28811,รัฐในสังกัดสป.สธ.,รพช.,2,5/3/2021,4/3/2022
5234656,2981911,4/3/2022,3/3/2022,ชาย,67.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,...,1244,12,ปัตตานี,สิโรรส ปัตตานี,41342,เอกชน,เอกชน,1,5/3/2021,4/3/2022

In [114]:
data_total2_drop.drop(['No._x','Notified date','Unit','nationality','No._y','district_of_onset','H Code','เขต','ชั้นปัจจุบัน'], axis=1, inplace=True)   #drop ข้อมูลออกให้เหลือเฉพาะอันที่เราต้องการ
data_total2_drop

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,announce_date,sex,age,province_of_isolation,risk,province_of_onset,จังหวัด_x,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาค (การเมือง),6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว),จังหวัด_y,โรงพยาบาล,สังกัด,ชนิดรพ.,วันรับรอง,วันหมดอายุ
1826,14/5/2020,ชาย,39.0,เชียงใหม่,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,เชียงใหม่,เชียงใหม่,เหนือ,เหนือ,เหนือ,เหนือ,ปทุมธานี,ภัทร-ธนบุรี,เอกชน,สมาคมโรงพยาบาลเอกชน,15/5/2019,14/5/2020
1935,19/6/2020,ชาย,24.0,กรุงเทพมหานคร,State Quarantine,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,สุราษฎร์ธานี,ท่าโรงช้าง,รัฐในสังกัดสป.สธ.,รพช.,20/6/2019,19/6/2020
1936,19/6/2020,ชาย,23.0,กรุงเทพมหานคร,State Quarantine,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,สุราษฎร์ธานี,ท่าโรงช้าง,รัฐในสังกัดสป.สธ.,รพช.,20/6/2019,19/6/2020
1937,19/6/2020,ชาย,27.0,กรุงเทพมหานคร,State Quarantine,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,สุราษฎร์ธานี,ท่าโรงช้าง,รัฐในสังกัดสป.สธ.,รพช.,20/6/2019,19/6/2020
1938,19/6/2020,ชาย,23.0,กรุงเทพมหานคร,State Quarantine,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,สุราษฎร์ธานี,ท่าโรงช้าง,รัฐในสังกัดสป.สธ.,รพช.,20/6/2019,19/6/2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5234652,4/3/2022,ชาย,67.0,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,เชียงใหม่,ตาเซนต์ปีเตอร์,เอกชน,เอกชน,5/3/2021,4/3/2022
5234653,4/3/2022,ชาย,67.0,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,ปทุมธานี,กรุงสยามเซนต์คาร์ลอส,เอกชน,สมาคมโรงพยาบาลเอกชน,5/3/2021,4/3/2022
5234654,4/3/2022,ชาย,67.0,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,นครพนม,นาหว้า,รัฐในสังกัดสป.สธ.,รพช.,5/3/2021,4/3/2022
5234655,4/3/2022,ชาย,67.0,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,หนองคาย,เฝ้าไร่,รัฐในสังกัดสป.สธ.,รพช.,5/3/2021,4/3/2022
5234656,4/3/2022,ชาย,67.0,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,ปัตตานี,สิโรรส ปัตตานี,เอกชน,เอกชน,5/3/2021,4/3/2022

In [115]:
data_project = data_total2_drop.rename(columns={'จังหวัด_x': 'จังหวัดภูมิภาค', 'จังหวัด_y': 'จังหวัดของโรงพยาบาล'})
data_project

,announce_date,sex,age,province_of_isolation,risk,province_of_onset,จังหวัดภูมิภาค,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาค (การเมือง),6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว),จังหวัดของโรงพยาบาล,โรงพยาบาล,สังกัด,ชนิดรพ.,วันรับรอง,วันหมดอายุ
1826,14/5/2020,ชาย,39.0,เชียงใหม่,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,เชียงใหม่,เชียงใหม่,เหนือ,เหนือ,เหนือ,เหนือ,ปทุมธานี,ภัทร-ธนบุรี,เอกชน,สมาคมโรงพยาบาลเอกชน,15/5/2019,14/5/2020
1935,19/6/2020,ชาย,24.0,กรุงเทพมหานคร,State Quarantine,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,สุราษฎร์ธานี,ท่าโรงช้าง,รัฐในสังกัดสป.สธ.,รพช.,20/6/2019,19/6/2020
1936,19/6/2020,ชาย,23.0,กรุงเทพมหานคร,State Quarantine,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,สุราษฎร์ธานี,ท่าโรงช้าง,รัฐในสังกัดสป.สธ.,รพช.,20/6/2019,19/6/2020
1937,19/6/2020,ชาย,27.0,กรุงเทพมหานคร,State Quarantine,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,สุราษฎร์ธานี,ท่าโรงช้าง,รัฐในสังกัดสป.สธ.,รพช.,20/6/2019,19/6/2020
1938,19/6/2020,ชาย,23.0,กรุงเทพมหานคร,State Quarantine,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,สุราษฎร์ธานี,ท่าโรงช้าง,รัฐในสังกัดสป.สธ.,รพช.,20/6/2019,19/6/2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5234652,4/3/2022,ชาย,67.0,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,เชียงใหม่,ตาเซนต์ปีเตอร์,เอกชน,เอกชน,5/3/2021,4/3/2022
5234653,4/3/2022,ชาย,67.0,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,ปทุมธานี,กรุงสยามเซนต์คาร์ลอส,เอกชน,สมาคมโรงพยาบาลเอกชน,5/3/2021,4/3/2022
5234654,4/3/2022,ชาย,67.0,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,นครพนม,นาหว้า,รัฐในสังกัดสป.สธ.,รพช.,5/3/2021,4/3/2022
5234655,4/3/2022,ชาย,67.0,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,หนองคาย,เฝ้าไร่,รัฐในสังกัดสป.สธ.,รพช.,5/3/2021,4/3/2022
5234656,4/3/2022,ชาย,67.0,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,ปัตตานี,สิโรรส ปัตตานี,เอกชน,เอกชน,5/3/2021,4/3/2022